h1{font-family: "p22-spooky", sans-serif;
font-weight: 400;
font-style: normal; font-size: 80pt; line-height: 0.20;}
h1{color: lightskyblue}
h2{font-family: "motiva-sans", sans-serif;
font-weight: 700;
font-style: normal; color: rgb(34, 97, 137);}
p{font-family: "motiva-sans", sans-serif;
font-weight: 400;
font-style: normal; color: rgb(34, 97, 137);}