h2{font-family: "secret-service-typewriter", sans-serif;
font-weight: 400; color: azure;
font-style: normal; line-height: 1; text-indent: 30px;}
h1{font-family: "secret-service-typewriter", sans-serif;
font-weight: 400; color:azure;
font-style: normal; font-size: 50pt; line-height: 0.4; margin-bottom: 0; margin-top: 0.6}
p{font-family: "secret-service-typewriter", sans-serif;
font-weight: 400; color: azure;
font-style: normal; line-height: 3pt; text-indent: 30px;}
body{background-color: #6b6f9e;}